<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: rgb(247, 245, 245); 
            padding: 20px;
            font-family: 'Caveat', cursive; 
        }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
        }

        .form-group {
            width: 500px;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"] {
            background-color: beige;
        }

        label {
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="form-container ">
        <form action="/signup" method="post">
            <h2 style="text-align: left;">Sign Up</h2>
            {{#if errorMessage}}
            <p style="color: red;">{{errorMessage}}</p>
            {{/if}}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</body>

</html>
